body {
    margin: 0;
       text-align: center;
       
    /*color: white;*/
}
/*font*/
@font-face{
    src: url(/scoreboard/CursedTimerUlil-Aznm.ttf);
    font-family: CursedTimerUlil-Aznm;
}
/*main container for div*/
.container {
    display: flex;
    background-color:#1B244A;
    border: 10px 10px;
    border-radius: 10px;
    border-style:ridge;
    border-width: 15px;
    justify-content: space-around;
    width: 575px;
    height: 420px;
    margin:50px auto;
    padding-top: 50px;
}



.blackbox{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;
    height: 120px;
    width: 155px;
    background-color: black;
    color: #F94F6D;
    font-weight: 400;
    font-size: 90px;
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-family: CursedTimerUlil-Aznm;
}

.button-color{
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
    /*background-color: rgb(21, 68, 21);*/
    text-align: center;
    align-items: center;
    font-family: CursedTimerUlil-Aznm;

}
h3{
    
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700;
}
button{
  
    padding: 10px;
    font-family: CursedTimerUlil-Aznm;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    margin: 4px;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}
.resetLocation{
    display: flex;
    flex-direction: column-reverse;
    height: 355px;
    
}
.foulcount{
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    
}
.foulBox{
    display: flex; 
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;
    height: 20px;
    width: 20px;
    background-color: black;
    color: #F94F6D;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-family: CursedTimerUlil-Aznm;
    

}
.foulContainer{
    display: flex;
    justify-content: end;
    margin-top: 8px;
}