/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
/*  after walk. each section has it's own border/width/background readjust each. */
body {
    margin: 0px auto;    
    text-align: center;
    color: #e5eee7;
    font-family: 'Abril Fatface', cursive;
    /*text-shadow: 0 0 4px #260f26;*/
    /*text shadow temp until font*/       
}
.top{
    
}
.bg-img{
    background-image: url("/solo project/images/NP-scape.jpg");
    background-size: cover;
    /* align-content: center; */ 
    width:715px;
    height:400px;
    margin: 0px auto;
}
/*
.first-text{
    margin: 0px;
    text-align: center;
}*/
h1{
    width: 375px;
    height: 42px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #404e7c;
    margin: 30px auto;
    margin-top: 10px;
    
}
h2{
    width: 450px;
    height: 42px;
    background-color: #251f47;
    margin:  0px auto;
    padding-top: 10px;
}
.box-1 {
    border: 0px solid #F1FAEE;
    border-width: 1px;
    border-radius: 25px;
    margin-top: 0px;
    background-size: cover;
    text-align: contain;
    
}
.box-2 {
    border: opx solid #F1FAEE;
    border-width: 1px;
    border-radius: 25px;    
    background-size: cover;
    /*text-align: contain;*/
    
}

/* middle*/
.middle{
    background-color: #F1FAEE;
    width: 715px;  
    height: 400px;
    margin: 0 auto;
    color: #251f47;
}
h3{
    margin-top: 0px;
    padding-top: 25px;
    font-size: 26px;
}
.flex-container  {
    border: 0px solid white;
    height:150px;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    
    padding: 35px 45px 45px 70px ;  
}
.img-1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("/solo project/images/Amgen-Headquarters.jpg");
    background-size: cover;
    text-align: center;
    margin: 20px 70px 10px;
}
.img-2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("/solo project/images/1553690225625.jpg");
    background-size: cover;
    text-align: center;
    margin: 20px;
}
.img-3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("/solo project/images/Stagecoach-museum.jpg");
    background-size:cover;
    text-align: center;
    margin: 20px;
}

/*bottom*/
.bottom{
    background-color: #FFFFFF;
    /*background-size:700px 400px;*/
    width: 715px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom: 6px solid #f5e619;
    color: rgb(20, 20, 20);
    text-shadow: 0px 0px 8px #f5e619;

    
}
img {
    margin: 16px;
    width: 200px;
    border-radius: 50%;
    
}