@font-face {
    font-family: 'Tai Heritage Pro', serif;
    src: url(https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap);
}

body{
    text-align: center;
    font-family: 'Tai Heritage Pro', serif;
    text-decoration: underline;
    font-size: 32px;
    color: rgb(138, 110, 151) ;
    background:linear-gradient(rgb(0, 165, 165), rgb(24, 2, 75));
    text-shadow: 0 0 12px rgb(24, 2, 75);
}
.celebrate{
    margin: 20px auto;
    max-width: 800px;
    height: 400px;
    border: 6px solid rgb(90, 11, 136);
    border-radius: 10px;
    background-image: url("https://media.giphy.com/media/nV92wySC3iMGhAmR71/giphy.gif");
    background-size:cover;
    box-shadow: 0 0 22px rgb(73, 7, 117);
}

.celebrate:hover{
    background-image: url("https://media.giphy.com/media/yCjr0U8WCOQM0/giphy.gif");
    background-size:cover;
}
